* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(135deg,#A0E7E5, #764ba2);
    margin: 0;
    padding: 20px;
    color: #333;
    /* text-decoration: underline; */
}

.container {
    max-width: 700px;
    margin: auto;
}

h1 {
    text-align: center;
    color: white;
}

.subtitle {
    text-align: center;
    color: #eee;
    margin-bottom: 20px;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

h2 {
    margin-top: 0;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #FFAEBC;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #5a67d8;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px 0;
}

.checkbox-item {
    display: flex;
    align-items: center;
}

.checkbox-item input {
    margin-right: 8px;
}

.balance {
    margin: 6px 0;
    padding: 8px;
    background: #f4f4f4;
    border-radius: 5px;
}
